---
language: php

cache:
  directories:
  # - $HOME/.composer/cache/files

php:
- nightly
- 7.2
- 7.1
- 7.0
- 5.6
- 5.5
- 5.4

services:
- mysql
- postgresql

env:
  # global:
  # matrix:

matrix:
  fast_finish: true
  include:
  allow_failures:
  - php: nightly

before_install:
- phpenv versions
- ls ~/.phpenv/shims
- command -v php;
  command -v php-cgi;
  command -v phpdbg;
  command -v php-fpm
- php -r "echo phpinfo().PHP_EOL;"
- php -r "echo ini_get('memory_limit').PHP_EOL;" # See phpinfo!
- if [ -f /home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
    cat /home/travis/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini;
    phpenv config-rm xdebug.ini;
  fi

script: true

after_script:
- ls --color ~/.phpenv/versions/$(phpenv version-name)/bin
- php -d memory_limit=-1 $(phpenv which composer)
- php $(phpenv which phpunit) --version
- php -d html_errors=on -d zend_extension="$(ls ~/.phpenv/versions/$(phpenv version-name)/lib/php/extensions/*/xdebug.so)" $(phpenv which phpunit)
- phpunit -d html_errors=on -d zend_extension="$(ls ~/.phpenv/versions/$(phpenv version-name)/lib/php/extensions/*/xdebug.so)"
- ls ~/.phpenv/versions
- ls ~/.phpenv/versions/*/lib/php/extensions
- ls ~/.phpenv/versions/*/lib/php/extensions/*/xdebug.so
- ls ~/.phpenv/versions/$(phpenv version-name)/lib/php/extensions/*/xdebug.so
- phpenv which composer
- phpenv which phpunit

